*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    min-width: 100vw;
    min-height: 100vh;
    background-color: azure;
    /* display: flex; */
}
#left {
    background-color: darkcyan;
    max-width: 400px;
    min-height: 100vh;
    float: left;
}
#right {
    background-color: darkkhaki;
    max-width: 300px;
    float: right;
    min-height: 100vh;
}